
body {
    width: 960px;
    margin-left: 20px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #ededed;
    text-align: justify;
  }
  a {
    color: #cc1c0d;
  }
  
  h2 {
    padding: 10px;
    color: #cc1c0d;
    background-color: #dfe3e6;
    border: 2px solid #929ca4;
    border-radius: 8px;
  }
  
  img {
    float: left;
    padding: 10px 10px 10px 0px;
    margin-right: 10px;
  }
  
  div {
    display: table-cell;
    float: left;
    margin: 0 0 20px 10px;
    vertical-align: top;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    width: 23.5%;
    height: fit-content;
  }
   
  ul > ul {
    margin-left: 30px;
  }
  
  ul:first-of-type {
    list-style-type: none;
    padding: 0;
  }
  
  section > img {
    border: 3px solid red;
    border-radius: 50px;
    margin: 0 10px 0 10px;
    padding: 0;
  }
  
  section > p {
    margin-left: 20px;
  }
  
  #vconvert,
  #vprospect,
  #vretain {
    font-weight: bold;
  }
  
  .pricing > div > hr {
    margin-top: 90px;
    height: 10px;
  }
  
  .pricing {
    text-align: center;
    clear: both;
  }
  .pricing > div:nth-of-type(1) > hr {
    background: #cc1c0d;
  }
  
  .pricing > div:nth-of-type(2) > hr {
    background: #37a4a4;
  }
  
  .pricing > div:nth-of-type(3) > hr {
    background: #685288;
  }
  
  .pricing > div:nth-of-type(4) > hr {
    background: black;
  }
  
  div > img {
    float: left;
    padding: 30px 0 0 80px;
    margin: 0;
  }
  div > p:nth-child(1) {
    float: left;
    padding: 35px 0 0 50px;
    margin: 0;
  }
  